<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Rent-o-now</title>
	<!-- core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">  
	<link href="css/magnific-popup.css" rel="stylesheet">  
	<link href="css/gallery-1.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet"> 
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico"> 
</head> 

<body id="home">

    <header id="header">
        <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<i class="fa fa-car" aria-hidden="true"></i>
                    <div class="logoSection"> <a class="navbar-brand" href="/">Rent-o-now</a>
					   <span class="caption">Vroom!</span>
					</div>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="scroll active"><a href="#home">Home</a></li> <!-- 
                        <li class="scroll"><a href="#services">Our Service</a></li> -->
                        <li class="scroll"><a href="#about">About Us</a></li>
                        <li class="scroll"><a href="#portfolio">Gallery</a></li>
                        <li class="scroll"><a href="#our-team">Team</a></li>
                        <!-- <li class="scroll"><a href="#pricing">Pricing</a></li>
                         --><li class="scroll"><a href="#contact-us">Contact</a></li>
                        <li class="scroll"><a href="/login">Login</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
    </header><!--/header-->

   <section id="main-slider">
        <div class="owl-carousel">
            <div class="item" style="background-image: url(images/slider/bg1.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row"> 
							<div class="carousel-caption">
                                <div class="carousel-content">
                                    <h2>DRIVE IN THE CITY</h2>
                                    <p>Get a Car on Rent</p> 
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url(images/slider/bg2.jpg);">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row"> 
							<div class="carousel-caption">
                                <div class="carousel-content">
                                    <h2>Car Rental Deals</h2>
                                    <p>Live the life</p> 
                                </div>
                            </div>
							</div>
                        </div> </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
    </section><!--/#main-slider-->

    <section id="hero-text" class="wow fadeIn">
        <div class="container">`
            <div class="row">
                <div class="col-sm-9">
                    <h2>DESCRIPTION</h2>
                    <p>
                    Want to book a ride? Here you go with amazing deals on booking your ride with a variety of exclusive cars and bikes which you get at affordable price range. Book a ride and chill with your family as well as friends!
                    </p>
                </div>
                <div class="col-sm-3 text-right"><!-- 
                    <a class="btn btn-primary btn-lg" href="#pricing">Plans!</a> -->
                </div>
            </div>
        </div>
    </section><!--/#hero-text-->
    


 <section id="about">
        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">About Us</h2>
                <p class="text-center wow fadeInDown">We,Abhinav and Adeeb, bring you the best deals on each and every vehicle for your comfort</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeft">
                  <img class="img-responsive" src="images/about.png" alt="">
                </div>

                <div class="col-sm-6 wow fadeInRight">
                    <h3 class="column-title">We are Market Leader</h3>
                    <p>Its a sunny day and suddenly one thinks for an outing! But you dont have a vehicle. Dont panic. Sit back and open our website which has a variety of vehicles. Choose the best one for your group at affordable prices and roll in the city as well its outskirts!</p>


                    <a class="btn btn-primary" href="#">HELLO!</a>

                </div>
            </div>
        </div>
    </section><!--/#about-->
    
   <section id="portfolio">
            <!-- Start Gallery 1-2 -->
    <section id="gallery-1" data-section="gallery-1" class="data-section"  class="content-block section-wrapper gallery-1">
    	
    	<div class="container">
    	
	   <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Cars</h2>
                <p class="text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Vrooooom all around!</p>
            </div>
			<div class="editContent">
	            <ul class="filter">
	                <li class="active"><a href="#" data-filter="*">All</a></li>
	                <li><a  data-filter=".artwork">Micro</a></li>
	                <li><a data-filter=".creative">Mini</a></li>
	                <li><a data-filter=".nature">Sedan</a></li>
	                <li><a data-filter=".outside">SUV</a></li>
	                <li><a data-filter=".photography">Bike</a></li>
	            </ul>
			</div>
            <!-- /.gallery-filter -->
            
            <div class="row">
                <div id="isotope-gallery-container">
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="images/portfolio/1.jpg" class="img-responsive" alt="1st gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="images/portfolio/1.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
	                                <h5>Swift Dzire</h5>
                            	</div>
                            	<div class="editContent">
	                                <p>comfortable and compact</p>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="images/portfolio/2.jpg" class="img-responsive" alt="2nd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="images/portfolio/2.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
                                	<h5>Toyota Fortuner</h5>
                            	</div>
                            	<div class="editContent">
                                	<p>A perfect SUV!</p>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="images/portfolio/3.jpg" class="img-responsive" alt="3rd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="images/portfolio/3.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
                                	<h5>Tata Nano</h5>
                            	</div>
                            	<div class="editContent">
                                	<p>A perfect to roll around in city!</p>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="images/portfolio/4.jpg" class="img-responsive" alt="4th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="images/portfolio/4.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
                                	<h5>Honda City</h5>
                            	</div>
                            	<div class="editContent">
                                	<p>Huge and spacious!</p>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="images/portfolio/5.jpg" class="img-responsive" alt="5th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="images/portfolio/5.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
                                	<h5>Innova</h5>
                            	</div>
                            	<div class="editContent">
                                	<p>6 people accomodation.Go out with your children!</p>
                            	</div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="images/portfolio/6.jpg" class="img-responsive" alt="6th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="images/portfolio/6.jpg" class="gallery-zoom"><i class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                            	<div class="editContent">
                                	<h5>Nissan Micra</h5>
                            	</div>
                            	<div class="editContent">
                                	<p>Small & classy. Perfect for a girl gang!</p>
                            	</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.isotope-gallery-container -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!--// End Gallery 1-2 -->
   </section><!--/#portfolio-->

   
   
    <section id="our-team">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">The Team</h2>
                <p class="text-center wow fadeInDown">We are open to suggestions and would be glad to talk to you.<br>Contact us by the number enclosed.</p>
            </div>

            <!--<div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/01.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Abhinav Kumar</h3>
                            <span>Co-Founder</span>
                        </div>  
                    </div>
                </div>-->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/02.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Abhinav Kumar</h3>
                            <span>Co-Founder</span>
                        </div>  
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                        <div class="team-img">
                            <img class="img-responsive" src="images/team/03.jpg" alt="">
                        </div>
                        <div class="team-info">
                            <h3>Adeeb Shakri</h3>
                            <span>Co-Founder</span>
                        </div>  
                    </div>
                </div>
                
        </div>
    </section><!--/#our-team-->

   

    <section id="testimonial">
        <div class="container"><h1 style="color:white">Reviews</h1>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">

                    <div id="carousel-testimonial" class="carousel slide text-center" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <p><img class="img-thumbnail" src="images/boy.jpg" style="width:10%" alt=""></p>
                                <h4>Faiz</h4> 
                                <p>Every weekend I book a ride for an outing with my family. Its so easy to pick a vehicle from here. Love it!</p>
                            </div>
                            <div class="item">
                                <p><img class="img-thumbnail" src="images/pic2.jpg" alt=""></p>
                                <h4>Gramth Larry</h4> 
                                <p>Wohoo!The best website for vehicle renting! Easy and affordable!</p>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </section><!--/#testimonial-->

    
    <section id="contact-us">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Contact Us</h2>
                <p class="text-center wow fadeInDown">Reach us by our email_id:-<br>adeebshakri@gmail.com<br>abhinavkumar@yahoo.com<br>contact no: 1800-1011011801</p>
        </div>
    </section><!--/#contact-us-->


    <section id="contact">
        
        
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script><!-- Gallery Popup -->
	 
    <script src="js/custom-scripts.js"></script>
</body>
</html>